<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="80000" requestLengthDiskThreshold="100"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="OMS" connectionString="server=DESKTOP-1OERUD8\SQLEXPRESS;integrated security=true;database=OM" />
  </connectionStrings>
</configuration>
